.quiz-card {
  width: 600px;
  min-height: fit-content;
  margin-inline: auto;
  background-color: aquamarine;
  padding: 2rem;
  margin: 1.5rem auto;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .quiz-card {
    width: 85%;
  }
}
