.navbar-container {
  background-color: #1e2b47;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-items {
  text-decoration: none;
  display: flex;
  gap: 2rem;
  color: #ccc;
  background-color: #1e2b47;
  font-weight: 500;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

a.active {
  color: #ff2c7f;
}

.navbar-toggler {
  color: #fff;
  position: absolute;
  right: 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    padding: 0 1rem;
  }

  .show-nav-item {
    position: absolute;
    top: 3.3rem;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    width: 100vw;
    text-align: center;
    padding: 1rem;
  }

  .hide-nav-item {
    position: absolute;
    top: -800px;
  }
}
