.header-content {
  height: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.header-content h1 {
  color: #fff;
  font-size: 4rem;
}

.btn-header-practice {
  display: block;
  width: fit-content;
  margin-inline: auto;
  border: none;
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
  border-radius: 8px;
  background-color: #256d85;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.btn-header-practice:hover {
  background-color: rgba(143, 227, 207, 0.918);
}

.quiz-topic-content-container {
  background-color: #090a27;
}

.quiz-topic-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 7rem;
}
