.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100vh;

  box-sizing: border-box;
  margin-inline: auto;
  margin-top: 1.5rem;
  padding: 0 2rem;
  border-radius: 20px 20px 0 0;
}

.chart-container h1 {
  color: #000;
}

/** Media Queries */
@media (max-width: 600px) {
  .chart-container {
    width: 340px;
  }

  .chart-container h1 {
    font-size: 1.5rem;
  }
}
