.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-page p:nth-child(3) {
  color: red;
  font-size: 20px;
  font-weight: 600;
}
